<div class= "row back m-0">

</div>
<div class="gayousi pb-5">
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h2>このサイトの使い方</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>1:グループ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h4>グループを作成することでマップに自分の好きな場所を登録することができます。<br>グループではグループに参加している人全員が場所を追加、編集、削除できるようになっています。<br>グループリーダーのような機能は今のところありません。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>2:場所の保存</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h4>場所の保存方法には３通りの保存方法があります。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>2-1:住所から場所を保存する。</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h4>住所から場所を保存する場合はマップの左上の検索フィールドから存在する住所を入力することで<br>マップ上にピンが刺さります。そのピンをクリックすることで場所を登録するボタンがふきだし上に<br>出るのでそのボタンをクリックすることで場所を保存できます。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>2-2:緯度、経度から場所を保存する。</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h4>緯度、経度から場所を保存するときはマップの上部にある緯度、経度のフィールドに緯度と経度を<br>入力し緯度経度で登録するボタンを押すことで入力した緯度と経度の情報が入った場所を保存する<br>ことができます。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>2-3:現在地から場所を保存する</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h4>現在地から場所を保存する場合は位置情報を許可してから現在地登録フォームの現在地を登録する<br>ボタンから場所を保存できます。この場合、画像選択、場所名、場所説明は空白のままでも現在地の<br>場所を保存できます。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>2-4:場所保存に関する注意点</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h4>場所には場所名、場所説明、場所画像、住所、登録者名、緯度経度、本数、という項目があります。<br>基本的に登録者名と、緯度経度の情報は場所を保存したときから自動的に入力されますが、そのほかの<br>場所名、場所説明、場所画像、住所、本数、という項目は自分で入力しない限り保存されません。<br>ただし、住所から保存をした場合と現在地から保存した場合だけ、住所という項目は自動で入力されます。</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>3:その他注意点</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-auto offset-2 mt-5">
      <h3>このサイトは現時点でスマホでのレイアウトに関する対応はしていないですが、使えないこ<br>とはないです。パソコンからだと位置情報がうまく機能しないことがあるので位置情報で場所<br>を保存する場合はスマホからお願いします。</h3>
    </div>
  </div>
</div>


