<div class="row">
  <div class="col-auto offset-2 mt-5">
    <h2>管理者ログイン</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mt-5">
    <div class="col-2 offset-3">
      <h5>メールアドレス</h5>
    </div>
    <div class="col-3">
      <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2 offset-3">
      <h5>パスワード</h5>
    </div>
    <div class="col-3">
      <%= f.password_field :password, class: 'form-control', autocomplete: "password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-2 mx-auto mt-5 marginbottom">
      <%= f.submit "ログイン", class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<% end %>

