<div class="row mt-5">
  <div class="col">
    <h4 class="text-center">本当に退会しますか？</h5>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <h5 class="text-center">
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください
    </h5>
  </div>
</div>
<div class="row  justify-content-md-center mt-5 marginbottom">
  <div class="col-2">
    <%= link_to end_users_mypage_path do %>
      <button type="button" class="btn btn-primary btn-block">退会しない</button>
    <%end%>
  </div>
  <div class="col-2">
    <%= link_to "退会する",end_users_withdrawal_path, class: "btn btn-block btn-danger", method: :PATCH, data: {confirm: "退会しますか？"} %>
  </div>
</div>