<div class="row">
  <div class="col-auto offset-2 mt-5">
    <h2><%= @group.name %>グループ</h2>
  </div>
</div>

<div class="row mt-5">
  <div class="col-2 offset-3">
    <h5>所属メンバー</h5>
  </div>
  <div class="col-3">
    <%= @group.group_users.each do |group_user| %>
      <%= group_user.name%>
    <%end%>
  </div>
</div>