<div class="row">
  <div class="col-auto offset-2 mt-5">
    <h2><%= @group.name %></h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-8 mx-auto">
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <th class="col-4">所属メンバー</th>
          <th class="col-5">メンバー紹介</th>
          <th class="col-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @group.end_users.each do |group_user| %>
          <tr>
            <td>
              <%= attachment_image_tag group_user, :image, size: "30x20", format: 'jpeg' %>  <%= group_user.name%>
            </td>
            <td>
              <%= group_user.introduction %>
            </td>
            <td>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>