/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .top_image {
  width: 100%;
  height: 700px;
 }

.back {
 height:700px;
 width:100% ;
 background-image: image-url('migi.jpeg');
 background-size: 100% 100%;
 background-size:contain;
 background-size:cover;
 background-position: 50% 60%;
 background-repeat: no-repeat;
}



 header {
  height:100px;
  background-image: image-url('gayousi.jpeg');
  background-size: 100%, auto;
 }

// .flex {
//  display: flex;
// }

.height_100 {
 height: 100%;
}

.width_100 {
 width: 100%;
}


#map {
  height: 600px;
  width: 100%;
}

.btn-secondary {
  color: light; //ボタンのテキストの色
}

.text-red {
 color: red;

}

.notifications {
  color: $white;
  text-align: center;

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: alert_orange;
  }
}

 .gayousi {
  background-image: image-url('gayousi.jpeg');
  background-size: 100%, auto;
 }

 footer {
  background-color: black;
   height: 180px;
   width: 100%;
 }

.marginbottom {
 margin-bottom: 300px;
}

